<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="LogPath" value="E:"/>
    <add key="Path" value="Files"/>
    <add key="OASConnectionString" value=""/>
    <add key="ConnectionString" value="ukO+UQf2sodZ4RIqgDCqr8wFgOmXhMiSBoKkDlVbFK0wBmQLPeCeaIq9IeM8UXsS2JHeZLt/xhcwXAQPWa1tHQIxjOI4dcvrFuZg3+LUrKXrZTBSLFUhjZRmJZF9726Evg6lHpRppujHJnrt60GL0UvFKC1MM0lMZ2X2rQ3fzJ0="/>
  </appSettings>
</configuration>