<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FlowForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MainPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.20.15:8990/OAFlowService/flow"
        binding="basicHttpBinding" bindingConfiguration="MainPortBinding"
        contract="OAFlowSerive.Main" name="MainPort" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ConnectionString" value="s25HW+HWvtmXdCbma4V1wwDPbVQd/AT86apUbmPLQteWyqgJg5KwlOhvMFyJw37M6KkOux5+kp4ToSE5rFLTj7ey+KetlMWXsog6AHOItj5YlC4ABO/7OIEae/H0gUI/E13tQktkTY/yGxLZsU/AUAM7Ap1TjFZi+4ja2vpE838="/>
	  <!--<add key="ConnectionString" value="lUaiB+1FPIQX3nYQxwkhViPgPjqH2z3VKTgwuYW1kBFrBeFf5IG8C/5/9X584zQU6Q2ZfcZhweBnHB2cpS1tgZU/S1Md4xESb5e7lj0i1MEsICV7mc1gp2bKFMo5ADrCSYKysAoUti3Bcu+v7ohC01n3CDiqabsvo7xq2yK1mNM="/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
	  <add key="FLowInterval" value="2"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <FlowForms.Properties.Settings>
      <setting name="FlowForms_AuthorityService_authorityService" serializeAs="String">
        <value>http://192.168.20.15:8888/seeyon/services/authorityService.authorityServiceHttpSoap11Endpoint/</value>
      </setting>
      <setting name="FlowForms_BPMService_BPMService" serializeAs="String">
        <value>http://192.168.20.15:8888/seeyon/services/BPMService.BPMServiceHttpSoap11Endpoint/</value>
      </setting>
      <setting name="FlowForms_DocumentService_documentService" serializeAs="String">
        <value>http://192.168.20.15:8888/seeyon/services/documentService.documentServiceHttpSoap11Endpoint/</value>
      </setting>
    </FlowForms.Properties.Settings>
  </applicationSettings>
</configuration>
