<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MainPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/Main" binding="basicHttpBinding"
                bindingConfiguration="MainPortBinding" contract="FlowService.Main"
                name="MainPort" />
        </client>
    </system.serviceModel>
</configuration>